.notfound{
    background-image: url(/public/images/sharon-mccutcheon-tn57JI3CewI-unsplash.jpg);
    background-size: cover;
    background-position: center;
  .filter{
      min-height: 100vh;
      background-color: rgba(0,0,0,0.6);
      display: flex;
      flex-direction: column;
      justify-content: center;
    h1.row1{
        font-size: 3rem;
        color: red;
        margin-left: 50px;
    }
    h1.row2{
        font-size: 2.5rem;
        color: red;
        margin: 15px 0px;
        margin-left: 50px;
    }
    button{
        width:100%;
        border: none;
        background-color: rgba(228, 227, 227, 0.85);
        font-size: 2rem;
        cursor: pointer;
        padding: 10px 5px;
        font-weight: 600;
    }
  }
}
