* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


  .homepage{
  background-image: url(/public/images/praveen-thirumurugan-KPAQpJYzH0Y-unsplash.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vw;
  display: flex;
  z-index: 1;
  .filter{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 1;
    display: flex;
    flex-direction: column;
    .nav {
      position: sticky;
      top: 0px;
      z-index: 3;
      background-color: rgba(255,255,255,0.8);
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center;
      box-shadow: 0 5px 5px -6px black;
     
   
      .logo {
        display: flex;
        font-size: 1.35rem;
        margin: 0 15px;
        align-items: center;
        h1{
          margin-left: 10px;
          font-size: 2.2rem;
        }
      }
    
      ul {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      li {
        list-style: none;
        display: flex;
        align-items: center;
        img{
          width:25px ;
          height: 25px;
        }
        a {
          font-size: 1.75rem;
          font-weight: bold;
          text-decoration: none;
          
        }
      }
    }
    
    .search{
      display: flex;
      align-items: center;
      width: 100%;
      position: sticky;
      top:50%;
      input {
        font-size: 30px;
        min-height: 35px;
        width: 50%;
        border: 1.5px solid black;
        border-radius: 30px;
        text-align:center;
        background-color: rgba(255,255,255,0.2);
        color: white;
      }
     
        a {
          text-decoration: none;
          margin-left: -30px;
          
          img{
            width: 25px;
            height:25px;
          }
        }
    
    }
    
   
  }

a {
  text-decoration: none;
}

}



li {
  list-style: none;
}
.welcome {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .homepage{
    .filter{
      .nav{
        height: 90px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .homepage{
    .filter{
      .nav{
        height: 130px;
        ul{
          li{
            a{
              font-size: 1.1rem
            }
            img{
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

@import "./nav";
@import "./footer";
@import "./list";
@import "./repo";
@import "./error";
@import "./about";
